/* Add application styles & imports to this file! */
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
header{
    width: 100%;
}

nav{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 60px;
    min-height: 8vh;
    align-items: center;
    background-color: aqua;
    color: brown;
}

nav ul{
    line-height: 40px;
    list-style: none;
    overflow: hidden;
    color: azure;
    background-color: blue;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav ul li{
    display: inline;
    padding: 10px 40px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
    padding: 25px;
    transition: color 0.3s ease-in-out;
}

nav a:hover{
    color: blueviolet;
}

nav a:focus{
    color: palegreen;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 50px;
}

section div{
    text-align: center;
    border-radius: 5px;
    width: 90vw;
    height: 60vh;
    box-shadow: #001a 0px 4px 12px;
}

section h2{
    position: relative;
    bottom: 10px;
    color: blueviolet;
    font-weight: bold;
    font-size: 2.5rem;
}

section p{
    margin: 50px auto;
    font-size: 1.2rem;
    width: 700px;
    line-height: 1.5;
    word-wrap: break-word;
    color: #333;
    font-weight: 200;
}